# Gemini AI API Key
GEMINI_API_KEY=

# Supabase configuration
VITE_SUPABASE_URL=https://bcwggckpklfnerypxrrb.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_byNPPDKQ8F9IG9HdgyEptQ_KXFiX8yl

# Server Configuration
PORT=3000
NODE_ENV=production
